@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');


* {
    margin: 0;
    padding: 0;
}


.defaultTitle {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.defaultText {
    font-family: 'Poppins', sans-serif;
}

/* Top Navigation */

.navigationBar {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}

.companyLogo img {
    width: 100%;
    min-width: 300px;
    max-width: 500px;
    height: auto;
}

.navLinks {
    list-style: none;
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
}

.navLinks li {
    display: inline-block;
    padding: 0px 10px;
}

.navLinks li a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

.navLinks li a:hover {
    color: rgb(0, 168, 70);

}

.navButtonMenu, .navButtonMenu:focus, .navButtonMenu:hover, .navButtonMenu:active {
    border: none;
}

.navButtonText {
    font-size: 35px;
}

.registerButton button {
    margin-left: 15px;
    border-color: #000000
}

.loginButton {
    margin-left: 10px;
}

.loginButton button {
}

.shoppingButton button {
    font-size: 2rem;
    border: none;
}




/* Main Image */

main {
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(231, 255, 223, 1) 50%, rgba(172, 252, 152, 1) 100%);
}

.mainBackground {}

.mainImage {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 80px;
}

.mainImage p {
    max-width: 500px;
}

.mainImage img {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.signUpButton {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.signUpButton button {
    background-color: rgb(90, 230, 62);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;

}

.signUpButton button:hover, .signUpButton button:focus {
    background-color: rgb(79, 190, 57);
}

.separator {
    margin-top: 100px;
    margin-bottom: 50px;
    position: relative;
    z-index: 0;
}


/* Food Gallery */
.foodGallery {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%
}

.foodGallery img {
    width: 300px;
    object-fit: cover;
    border-radius: 20%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.foodGallery a {
    margin: 20px;
}

.foodGalleryButton {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.foodGalleryButton button {
    background-color: rgb(90, 230, 62);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;

}

.foodGalleryButton button:hover, .foodGalleryButton button:focus {
    background-color: rgb(79, 190, 57);
}



footer {
    bottom: 0;
    
}


/* .myborder1 {
    border: 5px solid rgb(106, 0, 255);
}

.myborder2 {
    border: 5px solid red;
}

.myborder3 {
    border: 5px solid rgb(89, 255, 39);
} */